
<nav id="header" class="navbar menu">
	<div id="header-container" class="container navbar-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a id="brand" class="navbar-brand" href="#"> <img src="../assets/images/lender/logo.svg" alt=""> </a> </div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav pull-right">
				<li class="active"><a href="#">PRODUCTS</a></li>
				<li><a href="#about">SOLUTIONS</a></li>
				<li><a class="m-btn" href="#contact">REQUEST A DEMO</a></li>
			</ul>
		</div>
		<!-- /.nav-collapse --> 
	</div>
	<!-- /.container --> 
</nav>
<!-- /.navbar -->

<div class="container">
	<div class="m-form">
		<form class="form-horizontal" name="lenderform" novalidate>
			<div ng-hide="vm.first">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-12">
								<label>Institution Primary Account Owner Name: </label>
								<input type="text" ng-model="vm.ownname" required>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-6">
								<label> Email:  {{vm.test}}</label>
								<input type="email" ng-model="vm.email"  required>
							</div>
							<div class="col-sm-6">
								<label> Phone: </label>
								<input type="tel" ng-model="phone"   required>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-6">
								<label>Street Address: </label>
								<input type="text" ng-model="vm.oa.streetAddress" ng-change="sameAddress && vm.update()"  required>
							</div>
							<div class="col-sm-6">
								<label> City: </label>
								<input type="text" ng-model="vm.oa.city" ng-change="sameAddress && vm.update()"  required>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-6">
								<label> Province/State: </label>
								<input type="text" ng-model="vm.oa.provinceOrState" ng-change="sameAddress && vm.update()" required>
							</div>
							<div class="col-sm-6">
								<label> Country: </label>
								<select chosen  disable_search_threshold="5"       
						ng-options="obj.country as obj.country for obj in vm.countries"
						ng-change="vm.getFinancerList(); vm.getgovtProgram();"
						ng-model="vm.lender.Country" 
						id="country">
									<option>--Choose Country--</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-6 p-left">
								<label> Zip/Postal Code: </label>
								<input type="text" ng-model="vm.oa.zipOrPostalCode" ng-change="sameAddress && vm.update()" required>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-12">
								<h4> <strong>Institution Information</strong></h4>
								<div class="form-group">
									<div class="col-sm-12">
										<label>Institution Name: </label>
										<input type="text" ng-model="vm.institutename" required>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="m-12 clearfix">
									<h5>
										<input type="checkbox" ng-model="sameAddress" ng-change="sameAddress && vm.update()">
										Check this box if Head Office Address is the same as that of the Primary Account Owner:</h5>
									<p>If not, please provide Head Office Address below:  Another Address<br>
									</p>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<div class="col-sm-6">
										<label>Street Address: </label>
										<input type="text" ng-model="vm.hoa.streetAddress"  ng-disabled="sameAddress" required>
									</div>
									<div class="col-sm-6">
										<label> City: </label>
										<input type="text" ng-model="vm.hoa.city" ng-disabled="sameAddress" required>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-6">
										<label> Province/State: </label>
										<input type="text" ng-model="vm.hoa.provinceOrState" ng-disabled="sameAddress" required>
									</div>
									<div class="col-sm-6">
										<label> Country: </label>
										<select chosen  disable_search_threshold="5"        
						ng-options="obj.country as obj.country for obj in vm.countries"
					   ng-model="vm.lenderHO.country"
						id="country" ng-disabled="sameAddress">
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-6 p-left">
										<label> Zip/Postal Code: </label>
										<input type="text" ng-model="vm.hoa.zipOrPostalCode" ng-change="sameAddress" ng-disabled="sameAddress" required>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-6">
								<button ng-click="vm.first=true; vm.second=false;" class="btn btn-info">Next</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Second step Start-->
			<div ng-hide="vm.second">
				<div class="row">
					<div class="col-sm-12">
						<div class="2-step">
							<div class="check">
								<label>Type of Financial Institution: (check all those that apply) </label>
								<div ng-repeat="item in vm.list"><span>
									<input type="checkbox" ng-model="item.selected" value="{{item.value}}"/>
									<label>{{item.value}}</label>
									</span> </div>
								<div  ng-show="vm.list" >
									<input  type="checkbox" ng-model="vm.otherbank"/>
									<label>other</label>
									<span ng-show="vm.otherbank">
									<input type="text" ng-model="vm.otherfinancer"/>
									</span> </div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div  class="radio-sec">
									<label> Are your deposits and/or loans guaranteed by any government program:</label>
									<input type="radio"  ng-model="vm.govtprogram" ng-value="true" ng-change="vm.getgovtProgram()">
									Yes
									<input type="radio"  ng-model="vm.govtprogram" ng-value="false" ng-change="vm.getgovtProgram()">
									NO </div>
								<div class="form-group">
									<div class="cont-check"> <span>If yes, please select all that apply: </span> <br>
										<br />
										<div ng-show="vm.govtprogram">
											<div ng-repeat="govtprogram in vm.countryGovtPrograms">
												<input type="checkbox"  ng-model="govtprogram.selected" value="{{govtprogram1.value}}"/>
												<span>{{govtprogram.value}}</span> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="for-group">
							<button ng-click="vm.second=true; vm.first=false;" class="btn btn-info">Back</button>
							<button ng-click="vm.second=true; vm.third=false;" class="btn btn-info">Next</button>
						</div>
					</div>
				</div>
			</div>
			
			<!--Second step End--> 
			<!--Third step Start-->
			<div ng-hide="vm.third">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-12">
								<div class="customer-type">
									<div class="consumer">
										<div>
											<label>Customer Types</label>
										</div>
										<ul>
											<li ng-repeat="customer in vm.customertypes">
												<input type="checkbox"  ng-model="customer.status" ng-value="customer.value"/>
												<span>{{customer.value}}</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-12">
								<label> Please indicate sub-types of customers to whom you offer special services: (check all that apply)</label>
								<div class="customer-group">
									<div class="consumer">
										<ul>
											<li> &nbsp; </li>
											<li ng-repeat="item in vm.customersubtypes"> <span>{{item.value}}</span> </li>
										</ul>
									</div>
									<div class="customer-check  text-center">
										<div ng-repeat="customer in vm.customertypes">
											<div ng-show="customer.status">
												<div ng-if="customer.value=='Consumers'">
													<ul>
														<li> Consumers</li>
														<li ng-repeat="consumer in vm.conCustomersubtypes">
															<input type="checkbox"  ng-model="consumer.selected"/>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="customer-check  text-center">
										<div ng-repeat="business in vm.customertypes">
											<div ng-show="business.status">
												<div ng-if="business.value=='Small Businesses'">
													<ul>
														<li> Small Business</li>
														<li ng-repeat="business in vm.bizzCustomersubtypes">
															<input type="checkbox"  ng-model="business.selected"/>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-12">
								<label> Please indicate the types of credit products which you offer: (check all that apply)</label>
								<div class="product-group">
									<div class="consumer">
										<ul>
											<li> &nbsp; </li>
											<li ng-repeat="item in vm.producttypes"> <span>{{item.value}}</span> </li>
										</ul>
									</div>
									<div class="customer-check  text-center">
										<div ng-repeat="customer in vm.customertypes">
											<div ng-show="customer.status">
												<div ng-if="customer.value=='Consumers'">
													<ul>
														<li> Consumers </li>
														<li ng-repeat="item in vm.consumerProducttypes">
															<input type="checkbox" ng-model="item.id" />
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="customer-check  text-center">
										<div ng-repeat="customer in vm.customertypes">
											<div ng-show="customer.status">
												<div ng-if="customer.value=='Small Businesses'">
													<ul>
														<li> Small Business </li>
														<li ng-repeat="item in vm.smallbizzProducttypes">
															<input type="checkbox" ng-model="item.id" />
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="customer-check  text-center">
										<div ng-repeat="customer in vm.customertypes">
											<div ng-show="customer.status">
												<div ng-if="customer.value=='Commercial'">
													<ul>
														<li> Commercial </li>
														<li ng-repeat="item in vm.commercialProducttypes">
															<input type="checkbox" ng-model="item.id" />
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-12">
								<label> Please indicate what types of products and customers you will manage through IND Engage:</label>
								<div class="product-group">
									<div class="consumer">
										<ul>
											<li>&nbsp;</li>
											<li ng-repeat="INDproduct in  vm.INDproducttypes"> <span>{{INDproduct.value}}</span> </li>
										</ul>
									</div>
									<div class="customer-check text-center">
										<div ng-repeat="customer in vm.customertypes">
											<div ng-show="customer.status">
												<div ng-if="customer.value=='Consumers'">
													<ul>
														<li> Consumers </li>
														<li ng-repeat="INDconsumersProduct in  vm.INDconsumersProductTypes">
															<input type="checkbox" ng-model="INDconsumersProduct.id"/>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="customer-check  text-center">
										<div ng-repeat="customer in vm.customertypes">
											<div ng-show="customer.status">
												<div ng-if="customer.value=='Small Businesses'">
													<ul>
														<li> Small Businesses </li>
														<li ng-repeat="INDbusinessProduct in vm.INDbusinessProductTypes">
															<input type="checkbox" ng-model="INDbusinessProduct.id" />
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="customer-check  text-center">
										<div ng-repeat="customer in vm.customertypes">
											<div ng-show="customer.status">
												<div ng-if="customer.value=='Commercial'">
													<ul>
														<li> Commercial </li>
														<li ng-repeat="INDcommercialProduct in vm.INDcommercialProductTypes">
															<input type="checkbox" ng-model="INDcommercialProduct"/>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group btn-padding">
							<div class="col-sm-6">
								<button ng-click="vm.second=false; vm.third=true;" class="btn btn-info">Back</button>
								<button  ng-click="vm.third=true; vm.fourth=false;" class="btn btn-info">Next</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Third step End--> 
			<!--Fourth step Start-->
			<div ng-hide="vm.fourth">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-6">
								<label> Date you would like service to begin: </label>
								<input type="date" ng-model="startdate" name="startdate">
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-6">
								<label>Will you require any application customizations?</label>
								<input type="radio"  ng-model="vm.customizations" ng-value="true">
								Yes
								<input type="radio"  ng-model="vm.customizations" ng-value="false">
								NO </div>
						</div>
						<div ng-show="vm.customizations">
							<div class="form-group">
								<div class="col-sm-6">
									<label>first name:</label>
									<input type="phone" >
								</div>
								<div class="col-sm-6">
									<label>last name:</label>
									<input type="phone" >
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-6">
									<label>email:</label>
									<input type="email">
								</div>
							</div>
						</div>
					</div>
					<div class ="col-sm-12">
						<div class="form-group">
							<div class="col-sm-6">
								<label>Will you need any support with integration to your mobile or online banking application?</label>
								<input type="radio"  ng-model="vm.integration" ng-value="true">
								Yes
								<input type="radio"  ng-model="vm.integration" ng-value="false">
								NO </div>
						</div>
						<div ng-show="vm.integration">
							<h5>Please identify who the primary lead for integration in your organization will be.  We will follow up to make an appointment to discuss the customizations.</h5>
							<div class="form-group">
								<div class="col-sm-6">
									<label>first name:</label>
									<input type="phone" >
								</div>
								<div class="col-sm-6">
									<label>last name:</label>
									<input type="phone" >
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-6">
									<label>email:</label>
									<input type="email">
								</div>
							</div>
						</div>
					</div>
					<div class ="col-sm-12">
						<div class="form-group">
							<div class="col-sm-6">
								<label> Will you be using your company’s Active Directory for user management? </label>
								<input type="radio"  ng-model="vm.directory" ng-value="true">
								Yes
								<input type="radio"  ng-model="vm.directory" ng-value="false">
								NO </div>
						</div>
						<div ng-show="vm.directory">
							<h5>please provide the names of your organization’s Active Directory leads who will be responsible for this.  We will follow up to make an appointment and execute the integration.</h5>
							<div class="form-group">
								<div class="col-sm-6">
									<label>first name:</label>
									<input type="phone" >
								</div>
								<div class="col-sm-6">
									<label>last name:</label>
									<input type="phone" >
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-6">
									<label>email:</label>
									<input type="email">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div ng-hide=vm.directory class="">
							<h5>please list the following individuals for key roles:</h5>
							<p>Technical administrator and liaison</p>
							<div ng-repeat="techadmin in vm.techadmins">
								<div class="form-group">
									<div class="col-sm-6">
										<label>first name:</label>
										<input type="text" ng-model="techadmin.fname">
									</div>
									<div class="col-sm-6">
										<label>last name:</label>
										<input type="text" ng-model="techadmin.lname">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-6">
										<label>email:</label>
										<input type="email" ng-model="techadmin.email">
									</div>
								</div>
								<button class="remove" ng-show="$last" ng-click="vm.removeField('admin')">-</button>
								<button ng-click="vm.addField('admin')">Add more</button>
							</div>
							</br>
							<div class="form-group">
								<div class="col-sm-12">
									<label>Business Owners</label>
									<div  ng-repeat="owner in vm.bizOwners">
										<div class="form-group">
											<div class="col-sm-6">
												<label>first name:</label>
												<input type="phone" ng-model="owner.fname">
											</div>
											<div class="col-sm-6">
												<label>last name:</label>
												<input type="phone" ng-model="owner.lname">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-6">
												<label>email:</label>
												<input type="email" ng-model="owner.email">
											</div>
										</div>
										<button class="remove" ng-show="$last" ng-click="vm.removeField('owner')">-</button>
										<button class="addfields" ng-click="vm.addField('owner')">Add more</button>
									</div>
								</div>
							</div>
							
							<div ng-repeat="manager in vm.Managers">
								<label>Credit Account Managers</label>
								<div class="form-group">
									<div class="col-sm-6">
										<label>first name:</label>
										<input type="text" ng-model="manager.fname">
									</div>
									<div class="col-sm-6">
										<label>last name:</label>
										<input type="text" ng-model="manager.lname">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-6">
										<label>email:</label>
										<input type="email" ng-model="manager.email">
									</div>
								</div>
								<button class="remove" ng-show="$last" ng-click="vm.removeField('manager')">-</button>
								<button ng-click="vm.addField('manager')">Add more</button>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-12">
								<label class="mt"> Choice Banking charges $.02 for each dollar loaned through our system at the time of funds disbursement. The amount is automatically calculated based on the disbursed amount, and billed to the primary Lender Account.  For revolving accounts and credit cards, the $.02 is calculated on the upper limit offered to the borrower of the product. Please acknowledge these billing policies by checking the box here:
									<input type="checkbox" name="policy" ng-model="accept">
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<h4>Please initial below to accept the billing policy.</h4>
								<div class="form-group">
									<div  class="col-sm-6">
										<label> Signature </label>
										<input type="text" name="signanture" placeholder="signature">
									</div>
									<div  class="col-sm-6">
										<label> Date</label>
										<input type="date" name="acceptdate">
										<label>{{indconsumer}}</label>
									</div>
								</div>
							</div>
							<div ng-repeat="item in vm.INDconsumersProductTypes">
								<div ng-show ="item.selected">
									<div ng-if="item.value=='Term Loans'"> <a href>link for consumers term loan</a> </div>
									<div ng-if="item.value=='Lines of Credit'"> <a href>link for consumers Lines of Credit </a> </div>
									<div ng-if="item.value=='Credit Card self-issued'"> <a href>link for consumers Credit Card self-issued </a> </div>
									<div ng-if="item.value=='Mortgages'"> <a href>link for consumers Mortgages </a> </div>
								</div>
							</div>
							<div ng-repeat="item in vm.INDbusinessProductTypes">
								<div ng-show ="item.selected">
									<div ng-if="item.value=='Term Loans'"> <a href>link for business term loan</a> </div>
									<div ng-if="item.value=='Lines of Credit'"> <a href>link for business Lines of Credit </a> </div>
									<div ng-if="item.value=='Credit Card self-issued'"> <a href>link for business Credit Card self-issued </a> </div>
									<div ng-if="item.value=='Mortgages'"> <a href>link for business Mortgages </a> </div>
								</div>
							</div>
							<div ng-repeat="item in vm.INDcommercialProductTypes">
								<div ng-show ="item.selected">
									<div ng-if="item.value=='Term Loans'"> <a href>link for commercial term loan</a> </div>
									<div ng-if="item.value=='Lines of Credit'"> <a href>link for commercial Lines of Credit </a> </div>
									<div ng-if="item.value=='Credit Card self-issued'"> <a href>link for commercial Credit Card self-issued </a> </div>
									<div ng-if="item.value=='Mortgages'"> <a href>link for commercial Mortgages </a> </div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<button ng-click="vm.fourth=true; vm.third=false;" class="btn btn-info">back</button>
								<button type="submit" ng-click="vm.submit()" class="btn btn-info">Save</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Fourth step Start-->
		</form>
	</div>
</div>

<!-- <H2>Primary Account Owner Information</H2>
  <form class="form-horizontal" ng-controller="dropdownCtrl">
        <div class="form-group">
        <div class= "col-sm-7">
        <div >
          <label>Institution Primary Account Owner Name:
          </label> 
          <input type="text" class="form-group" ng-model="Ownname"/> --> 
<!-- <label class="form-group" > Street: </label>
 --><!-- </div>
 <div>
         <label class="form-group"> Email:</label>
          <input type="email" class="form-group" ng-model="email" ng-change="sameAddress && update()" />
          </div>
          <div class = "col-sm-7">
         <label class="form-group" > Phone: </label>
          <input type="text" class="form-group" ng-model="phone" ng-change="sameAddress && update()" />
          </div>
           <div>

           <label class="form-group"> City:</label>
          <input type="text" class="form-group" ng-model="sa.city" ng-change="sameAddress && update()" />
          </div>
          <div class = "col-sm-7">
         <label class="form-group" > Provison/State: </label>
          <input type="text" class="form-group" ng-model="sa.state" ng-change="sameAddress && update()" />
          </div>
           <div>
          <label for="country" class="col-sm-2 control-label">Country </label>
      <div class="col-sm-7">             
        <select ng-model="customer.Country"                
                ng-options="obj.country as obj.country for obj in countries"
                ng-change="getFinancerList(); getgovtProgram(); update()"
                class="form-control" 
                ng-required="true"
                id="country">
          <option value="">--Choose Country--</option>
        </select> 
         </div>    
      </div>
      <div>
      <label class="form-group" >Zip/Postal Code:</label>
          <input type="text" class="form-group" ng-model="sa.zip" ng-change="sameAddress && update()" />
          </div>
</div>

 
</div>
 <div class="form-group">

          <h3>Institution Information</h3> 

          <label>Institution Name:</label>
          <input type="text" class="col-sm-2 control-label"  ng-model="name" /><br>
          <input type="checkbox"  class="col-sm-2 control-label" ng-model="sameAddress" ng-change="sameAddress && update()" /> <lable>Check this box if Head Office Address is the same as that of the Primary Account Owner:
If not, please provide Head Office Address below:</lable>
          <div>
          <label> city:</label>
          <input type="text" class="col-sm-2 control-label"  ng-model="ba.city" ng-disabled="sameAddress" />
          </div>
          <div>
            <label>Provison/State:</label>
          <input type="text"  class="col-sm-2 control-label" ng-model="ba.state" ng-disabled="sameAddress" />
          </div>
          <div>
          <label for="country" class="col-sm-2 control-label">Country </label>
          </div>
      <div class="col-sm-7">             
        <select ng-model="customer1.Country"                
                ng-options="obj.country as obj.country for obj in countries"
                class="form-control" 
                ng-required= "true"
                id="country" ng-disabled="sameAddress">
          <option value="">-- Choose Country --</option>
        </select>      
      </div>
      <div>
        <label class="form-group" > Zip/Postal Code:</label>
          <input type="text" class="form-group" ng-model="ba.zip" ng-change="sameAddress " ng-disabled="sameAddress" />
          </div>

          <div class="form-group">
      <h3>Type of Financial Institution: (check all those that apply)</h3>
      <div class="col-sm-7">             
          <div ng-repeat="item in list">
        <input type="checkbox"  ng-model="item.selected" value="{{item.value}}"/>
        <label>{{item.value}}</label>
      </div>
      <div  ng-show="list" >
      <input  type="checkbox" ng-model="item.selected" ng-change="ShowHide()"/>
        <label>other</label>
      <input ng-hide="IsVisible" ng-model="otherbank" type="text" name="other"/>
     </div> 
    </div>
    <div >
    <h3>Are your deposits and/or loans guaranteed by any government program:</h3>
  
    
    </div>
  </div>

   <h3>Customer type:</h2>
   <div class="col-sm-7">   
    
          <!-- <div ng-repeat="customertype in customertypes">
        <input type="checkbox"  ng-model="customertype.selected" value="{{customertype.value}}"/>
        <label>{{customertype.value}}</label>
      </div> 
<h3>Please indicate sub-types of customers to whom you offer special services: (check all that apply)</h3>
<div class="col-sm-7">
          <lable>Counsumer-</label>
          <lable>Small Business</label>
          
          <div ng-show="consumers">
           <div ng-repeat="item in customersubtypes">
           <input type="checkbox"  value="{{item.id}}"/></div>
           </div>
            <!-- ng-model="item1.selected"
           <div ng-show="smallbizz">
           <div ng-repeat="item in customersubtypes">
           <input type="checkbox" value="{{item.value}}"/>
           </div>
           </div>
          
          <h3>Please indicate the types of credit products which you offer: (check all that apply)</h3>
<div class="col-sm-7">
          <lable>Counsumer-</label>
          <lable>Small Business-</label>
          <lable>Commercial</label>
          <div ng-repeat="item in producttypes">
          <label>{{item.value}}</label>
          </div>
          <div ng-show="consumers">
          <div ng-repeat="item in producttypes">
           <input type="checkbox"   value="{{item.value}}"/>
           </div></div>
           <!-- ng-model="item.selected" 
            <div ng-show="smallbizz">
          <div ng-repeat="item in producttypes">
           <input type="checkbox"   value="{{item.value}}"/>
           </div></div>
            <div ng-show="commercial">
          <div ng-repeat="item in producttypes">
           <input type="checkbox"  value="{{item.value}}"/>
           </div>
           </div>
        
           <h3>Please indicate what types of products and customers you will manage through IND Engage:</h3>
<div class="col-sm-7">
          <lable>Counsumer-</label>
          <lable>Small Business-</label>
          <lable>Commercial</label>
          <div ng-repeat="item in INDproducttypes">
          <label>{{item.value}}</label>
          </div>
          <div ng-show="consumers">
          <div ng-repeat="item in INDproducttypes">
           <input type="checkbox"  value="{{item.value}}"/>
           </div>
           </div>
           <div ng-show="smallbizz">
          <div ng-repeat="item in INDproducttypes">
           <input type="checkbox"  value="{{item.value}}"/>
           </div>
           </div>
           <div ng-show="commercial">
          <div ng-repeat="item in INDproducttypes">
           <input type="checkbox" value="{{item.value}}"/>
           </div>
           </div>
           <!-- <input type="checkbox"  ng-model="item.selected" value="{{item.value}}"/>
           <input type="checkbox"  ng-model="item.selected" value="{{item.value}}"/> --> 
<!-- </div> --> 
<!--<lable>Counsumer</label>
       <div ng-repeat="item in customersubtypes">
         <input type="checkbox"  ng-model="item.selected" value="{{item.value}}"/>
         </div>
        
       
          <lable>Small Business</label>
            <div ng-repeat="item in customersubtypes">
              <input type="checkbox"  ng-model="item.selected" value="{{item.value}}"/> --> 

<!-- </div> --> 
<!-- 
<div  ng-show="consumers">
            <h3>quifax Risk Score:</h3>
 <label>What is the minimum score for Pre-Approval, with more information needed? </label>
 <div>
  <input type="text" name="preApproval" />
  </div>
  </br>
  <label> Is there a minimum Auto-approval value?</label>

<input type="radio" name="showHide" ng-model="autoApproval" ng-value="true">Yes
    <input type="radio" name="showHide" ng-model="autoApproval" ng-value="false">NO
    </br>
    </br>

 <label> Amount for Auto-Approval</label>
 <div ng-show="autoApproval"><input type="text" name="autoApprovel" ng-model="approvalvalue"></div>
 </br>
 Is there a minimum Auto-decline value?

    <input type="radio" name="showHide" ng-model="autoDecline" ng-value="true">Yes
    <input type="radio" name="showHide" ng-model="autoDecline" ng-value="false">NO
</div>

    <div ng-show="autoDecline">
        <label>Amount for Auto-Decline</label> <input type="text" name="autoApprovel" ng-model="declinevalue">
        </div>
        <div>
        </h3> Date you would like service to begin: </h3>
        <input type="date" ng-model="date" name=startdate>
        </div>
        <div>
          <h3>Will you require any application customizations?</h3>
          <input type="radio" name="showHide" ng-model="customizations" ng-value="true">Yes
    <input type="radio" name="showHide" ng-model="customizations" ng-value="false">NO
    <div ng-show="customizations">
       <label>first name:</label>
              <input type="phone" ng-model="">
              <label>last name:</label>
              <input type="phone" ng-model="">
               <label>email:</label>

              <input type="email" ng-model="">
        </div>
        </div>
        <div>
        <h3>Will you need any support with integration to your mobile or online banking application?</h3>
          <input type="radio" name="showHide" ng-model="integration" ng-value="true">Yes
    <input type="radio" name="showHide" ng-model="integration" ng-value="false">NO
    <div ng-show="integration">
     <label>please identify who the primary lead for integration in your organization will be.  We will follow up to make an appointment to discuss the customizations.</label></br>
       <label>first name:</label>
              <input type="phone" ng-model="">
              <label>last name:</label>
              <input type="phone" ng-model="">
               <label>email:</label>

              <input type="email" ng-model="">
        </div>

       
        <div>
        </div>
        <div>
          <h3> Will you be using your company’s Active Directory for user management? </h3>
          <input type="radio" name="showHide" ng-model="directory" ng-value="true">Yes
    <input type="radio" name="showHide" ng-model="directory" ng-value="false">NO
    <div ng-show="directory">
    <label>please provide the names of your organization’s Active Directory leads who will be responsible for this.  We will follow up to make an appointment and execute the integration.</label></br>
       <label>first name:</label>
              <input type="phone" ng-model="">
              <label>last name:</label>
              <input type="phone" ng-model="">
               <label>email:</label>

              <input type="email" ng-model="">
        </div>
        </div>


        </div>
 <div ng-hide=directory>
 <h3>please list the following individuals for key roles:</h3><br>
 <label>Technical administrator and liaison</label>
       <div ng-repeat="techadmin in techadmins">
           <label>first name:</label>
              <input type="text" ng-model="techadmin.fname">
              <label>last name:</label>
              <input type="text" ng-model="techadmin.lname">
               <label>email:</label>
              <input type="email" ng-model="techadmin.email">
               <button class="remove" ng-show="$last" ng-click="removeField('admin')">-</button>
          </div>
          <button ng-click="addField('admin')">Add more</button>
        
          </br>
          <div><label>Business Owners</label>
          <div  ng-repeat="owner in bizOwners">
          <label>first name:</label>
              <input type="phone" ng-model="owner.fname">
              <label>last name:</label>
              <input type="phone" ng-model="owner.lname">
               <label>email:</label>
              <input type="email" ng-model="owner.email">
               <button class="remove" ng-show="$last" ng-click="removeField('owner')">-</button>
   </div>
    <button class="addfields" ng-click="addField('owner')">Add fields</button>
    </div>
<div>
    <label>Credit Account Managers</label>
       <div ng-repeat="manager in Managers">
           <label>first name:</label>
              <input type="text" ng-model="manager.fname">
              <label>last name:</label>
              <input type="text" ng-model="manager.lname">
               <label>email:</label>
              <input type="email" ng-model="manager.email">
              <button class="remove" ng-show="$last" ng-click="removeField('manager')">-</button>
          </div>
          <button ng-click="addField('manager')">Add more</button>
</div>
</div>
</div>
      <label>Choice Banking charges $.02 for each dollar loaned through our system at the time of funds disbursement.  The amount is automatically calculated based on the disbursed amount, and billed to the primary Lender Account.  For revolving accounts and credit cards, the $.02 is calculated on the upper limit offered to the borrower of the product. Please acknowledge these billing policies by checking the box here:</label>
      <input type="checkbox" name="policy" ng-model="accept">

<h4>Please initial below to accept the billing policy.</h4>
 <label> Signature </label>
 <input type="text" name="signanture" placeholder="signature">
 <label> Date</label>
 <input type="date" name="acceptdate" >
  <div class="col-lg-offset-2">
 <button ng-click="submit()" class="btn btn-success">Save</button>
  </div>
  </form>

    <div class="form-group">
      <div class="col-lg-offset-2"> --> 
<!-- <b>Country:</b> {{customer.Country}}
        <b>bank:</b>{{bankNameArray}}
        <b>govt-program:</b>{{govtProgram}} --> 
<!--  </div>
    </div>

<script type="text/javascript">
  $(".scrollpage").click(function() {
    $('html').animate({
        scrollTop: $(".firstscroll").offset().top},
        'slow');
});
</script>
  
 -->